* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'NanumSquare';
    font-size: 14px;
    line-height: 23px;
    color: #333;
    min-width: 1320px;
}

a {
    text-decoration: none;
    color: #333;
}

#top a {
    font-family: 'NanumSquareRound';
    width: 100%;
    background-color: #FF5688;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: auto;
    padding: 5px 0;
    font-size: 15px;
}

#top img {
    vertical-align: bottom;
}


.menu {
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu #gnb {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

}

input {
    width: 220px;
    background: url(./main_img/search.png) no-repeat 5% 50%;
    border-radius: 50px;
    border: 2px solid #C5C5C5;
    padding: 10px 0 10px 30px;
    box-sizing: border-box;
    outline: none;
    color: #FF5688;
}

/* 룩북 */
.lb {
    background-color: #FFF1F5;
    width: 100%;
    margin: auto;
}

.lbb {
    margin: auto;
    width: 1320px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 150px;
    justify-content: space-between;

}

.bo {
    padding-bottom: 150px;
}

h1 {
    font-family: 'LotteriaChab';
    font-size: 50px;
    font-weight: 400;
    color: #FF5688;
    text-align: center;
    padding: 150px 0;
}

/* 호버 */

.lbin {
    position: relative;
}

.lbinh {
    position: absolute;
    top: 0;
    left: 0;
}

.lbinh img {
    opacity: 0;

}

.lbin:hover img {
    transition: all 0.5s;

}

.lbin:hover img {
    opacity: 1;
}

h5 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
}

h6 {
    font-size: 17px;
    padding-top: 10px;
    color: #545454;
}

.lbin:hover h5 {
    color: #FF5688;
    font-weight: 900;
}


/* footer */

footer {
    background-color: #F0F1F2;
    width: 100%;
    margin: auto;
    color: #737373;
    padding: 40px 0;
}

footer .ff {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 1320px;
    justify-content: space-around;
    padding: 40px 0 0 0;
    margin: auto;

}

footer .ff .number_silly {
    font-size: 36px;
    padding: 15px 0;
    font-weight: bolder;
}

footer .sns {
    width: 1320px;
    display: block;
    margin: auto;
    text-align: right;

}

footer .sns a {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.sns a:hover .snsh {
    opacity: 1;
}

.snsh {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    opacity: 0;
}

.top {
    position: fixed;
    bottom: 70px;
    right: 50px;
    display: none;
    z-index: 99;
}